Django==4.0.3
asgiref==3.5.0
backports.zoneinfo==0.2.1
construct==2.10.68
sqlparse==0.4.2
psycopg2-binary==2.9.3
django-minio-storage==0.3.10
minio==6.0.2
pytest==7.1.0
pytest-django==4.5.2
click==8.0.4
