{% extends "ecgzip/base.html" %}
{% block body %}
<div class="ui segments">
  <div class="ui segment">
    <h2 class="ui header">Compress</h2>
  </div>
  <div class="ui segment">
  {% if errors %}
    <div class="ui red message">
    {{ errors }}
    </div>
  {% endif %}
    <form class="ui form" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="inline fields">
        <label>Raw Data</label>
        <div class="field">
          <input type="file" name="data" />
        </div>
        <button class="ui button primary" type="submit">Compress</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
